
*{
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border:0;
    padding: 0;
    margin: 0;   
}

/* caracteristicas header*/
body{
    height: 1000px;
    width: 900px;
}


.superior {    
    background-color: #1CD1B0;
    margin: 0;
    text-indent: 10px;
    width: 100%;
}

.inferior{
    background-color: #00669F;
    height: 101px;
    text-indent: 25px;
    box-shadow: 0px 10px 7px rgba(0,0,0, 0.25);
    margin: 0;
    position: fixed;
    width: 100%;
}

/* Article Batman" */

article{
    display: flex;
    justify-content: space-between;
    margin: 200px 100px;
}


.Batman{
    position: relative;
}

.ImagenFondo
{
    background-image: url("../img/Fondo\ Batman.png");
    width: 300px;
    height: 193px;
    position: absolute;
}

.circulo
{
    background-image: url("../img/liga-justicia-batman-kO4H--1024x512@abc\ 1.png");
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 118px;
    top: 140px;
    left: 85px;
    z-index: 1;

}

.contenido{
    position: absolute;
    width: 300px;
    height: 336px;
    top: 193px;
    margin-top: 0;
    text-align: justify;
    background-color: #f3f3f3;
    padding: 70px 20px;
}

.contenido h2{
    text-align: center;
    text-transform: uppercase;
    top: 550px;}

img {
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 20px;}

button {
        height: 28px;
        width: 78px;
        top: 450px;
        left: 100px;
        background-color: #00669f;
        position: absolute;
        z-index: 1;
        color: white;
    }


.Harley{
        position: relative;}

.fondoHarley{
        background-image: url("../img/Fondo\ Harley.png");
        width: 300px;
        height: 193px;
        position: absolute;
    }

.circuloH{
    background-image: url("../img/harley.png");
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 118px;
    top: 140px;
    left: 85px;
    z-index: 1;
}

.Batman2{
    position: relative;
}


/* Footer     */

footer {
    position: relative;
    height: 51px;
    top: 672px;
    background-color: #00669f;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
}



