
*{
    
    font-family: 'Roboto', sans-serif;
   
}

/* caracteristicas header*/

.superior {
    background-color: #1CD1B0;
    margin: 0;
    text-indent: 10px;
    width: 1024px;
}

.inferior{
    background-color: #00669F;
    height: 101px;
    text-indent: 25px;
    box-shadow: 0px 10px 7px rgba(0,0,0, 0.25);
    width: 1024px;
    margin: 0;
}

/* Lamina batman*/

.ImagenFondo{
    background-image: url('../img/Fondo\ Batman.png');
    width: 300px;
    height: 193px;
    left: 32px;
    top: 110px;
    position: relative;
}

/* Caracteristicas imagen Batman */

.batman {
    border-radius: 50%;
}

/*Contenido imagen batman*/

.contenido {
    position: relative;
    width: 300px;
    height: 236px;
    left: 32px;
    top: -25px;
    background-color: #f3f3f3;
    text-align: justify;
    
}

button{
    background-color: #00669F;
    color: white;
    border: solid 3px #00669F;
    
}

section {
    display: inline;
}

footer{
    background-color: #00669F;
    width: 1024px;
    height: 51px;
    display: flex;
    align-items: center;
    text-align: center;}

body{
    height: 800px;
}

.secBatman {
    position: relative;
    
}