
*{
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}

/* caracteristicas header*/
body{
    height: 1000px;
}


.superior {
    background-color: #1CD1B0;
    margin: 0;
    text-indent: 10px;
   
}

.inferior{
    background-color: #00669F;
    height: 101px;
    text-indent: 25px;
    box-shadow: 0px 10px 7px rgba(0,0,0, 0.25);
    margin: 0;
}

/* Article Batman" */

.Batman{
    position: relative;
    margin: 100px 50px 0px 50px;
}

.ImagenFondo
{
    background-image: url("../img/Fondo\ Batman.png");
    width: 300px;
    height: 193px;
    position: absolute;
}

.circulo
{
    background-image: url("../img/liga-justicia-batman-kO4H--1024x512@abc\ 1.png");
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 118px;
    top: 140px;
    left: 80px;
    z-index: 1;

}

.contenido{
    position: absolute;
    width: 300px;
    height: 336px;
    top: 193px;
    margin-top: 0;
    text-align: justify;
    background-color: #f3f3f3;
    padding: 50px 20px;
}

.contenido h2{
    text-align: center;
    text-transform: uppercase;
    top: 550px}

.Batman img {
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 20px;
        
    }

button {
        height: 28px;
        width: 78px;
        top: 450px;
        left: 100px;
        background-color: #00669f;
        position: absolute;
        z-index: 1;
    }

/* Footer     */

footer {
    position: relative;
    height: 51px;
    top: 672px;
    background-color: #00669f;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;

}



