<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <p class="superior">Estamos hechos unos locos</p>
        <h2 class="inferior">Harley Quinn</h2>
    </header>

    <main class="home">
        <div class="harleyHome">
            <div class="iHarley"></div>
            <h3>Harley Quinn: </h3>
            <p> <span> Harley Quinn </span>  (nombre real <span>Dra. 
                Harleen Frances Quinzel</span> ) es un personaje
                 ficticio creado por los estadounidenses
                  Paul Dini y Bruce Timm para la editorial 
                  DC Comics. Quinn hizo su debut en el 
                  vigésimo-segundo episodio de Batman: 
                  la serie animada, «El favor del Joker», 
                  en septiembre de 1992 y se convirtió en 
                  una villana recurrente en la serie, posee 
                  una excelente agilidad y es rápida peleando, 
                  solo es superada por Batman y el Joker. 
                  Su agilidad se debe a ser una gimnasta y 
                  una acróbata.</p>
                <div class="images">
                    <img src="../img/Vector (1).png" >
                    <img src="../img/XMLID 386.png" >
                    <img src="../img/Vector (2).png">
                </div>
            <div class="volver">
                <a href="home.html"> Volver al Home </a>
            </div>
            
        </div>
    </main>
    <footer>
        <p>Todos los derechos reservados FRONT END 1</p>
    </footer>
</body>
</html>