<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <p class="superior">Descuentos 20%</p>
        <h2 class="inferior">Heroes</h2>
        <nav class="navegacion">
            <ul type="none">
                <li> <a href="contacto.html"> Contacto </a></li>
                <li> <a href="registro.html"> Registrarme </a></li>
                <li> <a href="ingresar.html"> Ingresar </a></li>
            </ul>

        </nav>
    </header>

    <main class="fRegistro">
        
        
        <form action="/registro" method="GET">
            
            <div class="formulario R">
                <h2 class="tRegistro">Login</h2>
                
                <p>
                    <input type="text" id="Email" name="Email" placeholder="Email"/>
                </p>
                <p>
                    <input type="password" id="Password" name="Password" placeholder="Password"/>
                </p>
            
                <div class="botones">
                    <button class="entrar" type="submit"> Entrar</button>
                </div>
                <p class="tienesCuenta">¿Ya tienes una cuenta? <span> <a href="ingresar.html"> Ingresar </a> </span> </p>
                
            </div>
        </form>
    </main>

    <footer>
        <p>Todos los derechos reservados FRONT END 1</p>
    </footer>
</body>
</html>