*{
    box-sizing: border-box; /*Incluye el border, el padding y el margin en las dimensiones de la caja*/
}

header{
    
}
.hsuperior{
    background-color: black;
    width: 1024px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.hinferior{
    color: white;
    }