*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.top{
    width: 1090px;
    height: 100px;
    top: 10px;
    background-color: black;
    display: flex;
    position: relative;
}

i{
    position: absolute;
    left: 50px;
    top: 20px;
    color: tomato;
    font-size: 50px;

}

.TextHeader{
    font-size: 24px;
    padding: 30px 0 0 110px;
}

.T1{
    color: green;
}
 .T2{
     color: white;
 }

 .T3{
     color: red;
 }

.menúnav ul{ 
    color:white;
    font-size: 19px;
    display: flex;
    padding: 38px 0px 0 400px;  
    text-indent: 15px;
}

.container{
    width: 1090px;
    height: 400px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 20px;
}

.box1{
    width: 490px;
    height: 350px;
    background-image: url("../img/delivery.jpg");
    border-radius: 5%;
    margin: 15px 0 0 30px;
    display: flex;
    position: relative;}

.textoEnvios{
    color: red;
    position: absolute;
    font-size: 24px;
    left: 80px;
    top:60px;
}


.textoEnvios span{
    color: white;
    
}



.box2{
    width: 490px;
    height: 350px;
    border-radius: 5%;
    margin: 15px 0 0 0px;
    display: flex;
    position: relative;}

.box2 h3{
    font-size: 24px;
    color: red;
    position: absolute;
    top: 50px;
    left: 150px;
    width: 350px;
}

.box2 h4{
    position: relative;
    font-size: 20px;
    top: 100px;
    left: 60px;
    width: 190px;
}

.box2 ol {
    position: relative;
    font-size: 16px;
    top: 150px;
    left: -100px;
    line-height: 25px;
}

.box2 img {
    position: relative;
    left: -50px;
    bottom: -130px;
    height: 129px;
}

.footer{
    display: flex;
    width: 1090px;
    height: 150px;
    background-color: black;
    color: white;
    line-height: 30px;
    padding: 18px 0 0 20px;
    position: relative;
}

.TextFooter{
    position: absolute;
    font-size: 24px;
    left: 850px;
    top: 70px;
    
}

.footer i{
    top:50px;
    left: 1000px;
    color: tomato;
}
