
*{
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border:0;
    padding: 0;
    margin: 0;   
}

/* caracteristicas header*/



.superior {    
    position: relative;
    background-color: #1CD1B0;
    margin: 0;
    text-indent: 10px;
    width: 100%;
    font-size: 16px;
    
}

.inferior{
    top: 19px;
    background-color: #00669F;
    height: 101px;
    text-indent: 25px;
    box-shadow: 0px 10px 7px rgba(0,0,0, 0.25);
    margin: 0;
    font-size: 40px;
    position: fixed;
    width: 100%;}

/* Article Batman" */

section{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
    width: 1000px;
}


.Batman{
    position: relative;
}

.ImagenFondo
{
    background-image: url("../img/Fondo\ Batman.png");
    width: 300px;
    height: 193px;
    position: absolute;
}

.circulo
{
    background-image: url("../img/liga-justicia-batman-kO4H--1024x512@abc\ 1.png");
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 118px;
    top: 140px;
    left: 85px;
    z-index: 1;

}

.contenido{
    position: absolute;
    width: 300px;
    height: 356px;
    top: 193px;
    margin-top: 0;
    text-align: justify;
    background-color: #f3f3f3;
    padding: 70px 20px;
}

.contenido h2{
    text-align: center;
    text-transform: uppercase;
    top: 550px;}

.contenido p {
    padding: 15px 0;
    font-size: 14px;
}

img {
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 20px;}

button {
        height: 28px;
        width: 78px;
        top: 500px;
        left: 100px;
        background-color: #00669f;
        position: absolute;
        z-index: 1;
        color: white;
    }


.Harley{
        position: relative;}

.fondoHarley{
        background-image: url("../img/Fondo\ Harley.png");
        width: 300px;
        height: 193px;
        position: absolute;
    }

.circuloH{
    background-image: url("../img/harley.png");
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 118px;
    top: 140px;
    left: 85px;
    z-index: 1;
}

.mujerMaravilla{
    position: relative;
}

.ImagenFondoMujer
{
    background-image: url("../img/Fondo\ Mujer\ Maravilla.png");
    width: 300px;
    height: 193px;
    position: absolute;
    border-radius: 10px 10px 0 0;
}

.circuloMujer{
    background-image: url("../img/Mujer\ Maravilla.png");
    background-size: 120px 120px;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 118px;
    top: 140px;
    left: 85px;
    z-index: 1;    
}


/* Footer     */

footer {
    position: absolute;
    height: 51px;
    top: 902px;
    background-color: #00669f;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    width: 100%;
}


/* @media (max-width: 100px) {
    section {
        flex-direction: column;
    }
} */

